@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@200;300;400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
	@apply font-bio uppercase mx-3 text-white;
}

.bg {
	background-image: url(/src/assets/BG.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	max-width: 1280px;
}

.formFocus {
	transition: transform 0.3s ease;
}

.formFocus:hover {
	transform: scale(1.05);
}
.formFocus:focus {
	transform: scale(1.05);
}
